/* App.css */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Garante que a altura mínima seja 100% da altura da tela */
  }
  
  footer.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;  /* Isso faz com que o footer "empurre" para o fundo */
  }
  
  .footer-content {
    font-size: 0.9em;
    color: #333;
  }
  
  /* Adicionando o efeito de rolagem quando necessário */
  .calendar-wrapper {
    overflow: auto;
    max-height: 60vh;  /* Ajuste a altura máxima do calendário para permitir a rolagem */
  }
  